:root{
    --orange-theme:orange;
    --orange-selected:#ee9a00
}

.btn-outline-primary{
    color:var(--orange-theme);
    border-color:var(--orange-theme)
}
.btn-outline-primary:hover{
    background-color:var(--orange-theme);
    border-color:var(--orange-theme)
}
.btn-outline-primary:focus,
.btn-outline-primary:active{
    box-shadow:none;
    outline:none;
    border-color:var(--orange-theme);
}
.btn-primary{
    background-color:var(--orange-theme);
    border-color:var(--orange-theme);
}
.btn-primary:hover{
    background-color:var(--orange-selected);
    border-color:var(--orange-selected);
}

/* Lien */
a{
    color:var(--orange-theme);
}
a:hover{
    color:var(--orange-selected);
}
.text-primary{
    color:var(--orange-theme) !important;
}

/* Navbar */
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
  color: var(--orange-theme);
}